<div [@visibility]="state">
    <h2>Contact</h2>
    <hr>
    <section >
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span class="spanLbl">Main:</span>
            <span>617-971-5300</span>
        </p>
        <p>
            <span class="spanLbl">After Hours:</span>
            <span>NA</span>
        </p>
    </section>

    <section >
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span class="spanLbl">Technical Support:</span>
            <span><a href="mailto:ifar-informatics@hsl.harvard.edu">ifar-informatics@hsl.harvard.edu</a></span>
        </p>
        <p>
            <span class="spanLbl">General Questions:</span>
            <span>Jason Rightmyer, Director Research Informatics (<a href="mailto:jasonrightmyer@hsl.harvard.edu">jasonrightmyer@hsl.harvard.edu</a>)</span>
        </p>
    </section>

    <section >
        <header>
            <h3>Address:</h3>
        </header>
        <p class="pContact">
            Hebrew SeniorLife<br /> Institute for Aging Research<br /> 1200 Centre Street, Boston, MA 02131
        </p>
    </section>
</div>