<div [@visibility]="state">
	<div class="panel panel-info">
		<div class="pnl-heading">Add New Group</div>
		<div class="panel-body">
			After you submit the new goup you will be redirected to the <i> Edit User Groups </i> where you will be able to add members.<br>
			<strong>Note: The owner must be an employee. You can enter the username of the owner manually or click the search button and select the owner from the search results.</strong>
		</div>
	</div>
	<div class="container">
		<form novalidate #groupForm="ngForm">
			<div class="row form-group">
				<div class="col-sm-1">
					<label for="name">Name:</label>
				</div>
				<div class="col-sm-4">
					<input type="text" [(ngModel)]="group.name" name="name" required placeholder="Name" #name="ngModel">
					<small [hidden]="name.valid || name.pristine" class="alert alert-danger">
						Name is required
					</small>
				</div>
			</div>
			<div class="row  form-group">
				<div class="col-sm-1">
					<label for="name">Description:</label>
				</div>
				<div class="col-sm-4">
				<input type="text" [(ngModel)]="group.description" name="description" required placeholder="Description" #description="ngModel">
				<small [hidden]="description.valid || description.pristine" class="alert alert-danger">
					Description is required
				</small>
				</div>
			</div>
			<!--<div class="form-group">
				<label for="owner">Select owner</label>
				<select class="form-control" id="owner" required [(ngModel)]="selectedOwner" name="owner" #owner="ngModel">
					<option *ngFor="let emp of employeesList" [value]="emp">{{emp}}</option>
				</select>
				<small [hidden]="owner.valid || owner.pristine" class="alert alert-danger">
					Owner is required
				</small>
			</div>-->
			<div class="row form-group">
				<div class="col-sm-1">
					<label for="owner">Owner:</label>
				</div>
				<div class="col-sm-4">
					<input type="text" [(ngModel)]="group.managedBy" name="owner" required placeholder="Owner" #owner="ngModel">
					<button tooltip="Search for employees" (click)="onShowSearch()"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
					<small [hidden]="owner.valid || owner.pristine" class="alert alert-danger">
						Owner is required
					</small>
				</div>
			</div>
			<div>
				<button (click)="onSubmit()" type="submit" class="btn btn-default" [disabled]="!groupForm.form.valid">Submit</button>
				<button (click)="onModalCancel()" type="button" class="btn ">Cancel</button>
			</div>
			<div *ngIf="showSearch">
				<sh-search title="Use the form below to search and select the group owner from a list of employees."
				 (rowSelected)="onRowSelected($event)" showSpinnerOnRowSelected=true (cancel)="onSearchCancel()"
				 [showCheckbox]="showCheckbox" [exclusions]="searchResultExclusions"></sh-search>
			</div>
		</form>
	</div>
</div>
<div bsModal #resultModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="resultModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title">{{dialog.title}}</h4>
			</div>
			<div class="modal-body">
				{{dialog.message}}
				<br>
			</div>
			<div class="model-buttons">
				<button (click)="onModalOk()">OK</button>
			</div>
		</div>
	</div>
</div>